footer {
    width: 100%;
    background-color: #880E4F;
    color: #E1C3D3;
    padding: 20px 0;
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
}

.links-container {
    margin-bottom: 10px;
}

.links-container a {
    color: #E1C3D3;
    margin: 0 15px;
    text-decoration: none;
    font-size: 14px;
}

.links-container a:hover {
    text-decoration: underline;
}

.social-media {
    margin-bottom: 10px;
}

.social-media a {
    margin: 0 10px;
}

.icons {
    height: 30px;
    width: 30px;
}

.copyright {
    font-size: 12px;
}
