#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
}

.nav-container {
  flex: 1; /* Allows nav-container to grow and take up available space */
}

.page-content {
  flex: 1; /* Allows page-content to grow and take up remaining space */
}

footer {
  flex-shrink: 0; /* Prevents footer from shrinking */
  width: 100%;
  background-color: #880E4F;
  color: #E1C3D3;
  padding: 20px 0;
}
